@model Multas.Models.Agentes

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Quer mesmo apagar este Agente?</h3>
<div>
    <h4>Agentes</h4>
    <hr />
    @**@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquadra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquadra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fotografia)
        </dt>

        <dd>
            <a href="~/imagens/@Model.Fotografia" target="_blank" />
            <img src="~/imagens/@Model.Fotografia" width="50" height="37" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
