@model IEnumerable<Multas.Models.Agentes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Criar novo Agente", "Create") @*model => model.Nome ---> expressão Labda*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Esquadra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fotografia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Esquadra)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Fotografia)*@
            <a href="~/imagens/@item.Fotografia" target="_blank" />
            <img src="~/imagens/@item.Fotografia" width="50" height="37" />
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.ID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
